.Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12%;
}

.auth-form {
    width: 30%;
}

.login-submit {
    display: flex;
    justify-content: space-between;
}

.login-submit__text {
    font-size: 13px;
}

.login-submit__button {
    margin-top: 5px;
}